html #layui_layer_skinmoonstylecss {
	display: none;
	position: absolute;
	width: 1989px;
}
body .layer-ext-moon[type="dialog"] {
	min-width: 320px;
}
body .layer-ext-moon-msg[type="dialog"]{min-width:200px;}
body .layer-ext-moon .layui-layer-title {
	background: #f6f6f6;
	color: #212a31;
	font-size: 16px;
	font-weight: bold;
	height: 46px;
	line-height: 46px;
}



body .layer-ext-moon .layui-layer-content .layui-layer-ico {
	height: 32px;
	width: 32px;
	top:18.5px;
}
body .layer-ext-moon .layui-layer-ico0 {
	background: url(default.png) no-repeat -96px 0;
	;
}
body .layer-ext-moon .layui-layer-ico1 {
	background: url(default.png) no-repeat -224px 0;
	;
}
body .layer-ext-moon .layui-layer-ico2 {
	background: url(default.png) no-repeat -192px 0;
}
body .layer-ext-moon .layui-layer-ico3 {
	background: url(default.png) no-repeat -160px 0;
}
body .layer-ext-moon .layui-layer-ico4 {
	background: url(default.png) no-repeat -320px 0;
}
body .layer-ext-moon .layui-layer-ico5 {
	background: url(default.png) no-repeat -288px 0;
}
body .layer-ext-moon .layui-layer-ico6 {
	background: url(default.png) -256px 0;
}
body .layer-ext-moon .layui-layer-ico7 {
	background: url(default.png) no-repeat -128px 0;
}
body .layer-ext-moon .layui-layer-setwin {
	top: 15px;
	right: 15px;
}
body .layer-ext-moon .layui-layer-setwin a {
	width: 16px;
	height: 16px;
}
body .layer-ext-moon .layui-layer-setwin .layui-layer-min cite:hover {
	background-color: #56abe4;
}
body .layer-ext-moon .layui-layer-setwin .layui-layer-max {
	background: url(default.png) no-repeat -80px 0;
}
body .layer-ext-moon .layui-layer-setwin .layui-layer-max:hover {
	background: url(default.png) no-repeat -64px 0;
}
body .layer-ext-moon .layui-layer-setwin .layui-layer-maxmin {
	background: url(default.png) no-repeat -32px 0;
}
body .layer-ext-moon .layui-layer-setwin .layui-layer-maxmin:hover {
	background: url(default.png) no-repeat -16px 0;
}
body .layer-ext-moon .layui-layer-setwin .layui-layer-close1,body .layer-ext-moon .layui-layer-setwin .layui-layer-close2 {
	background: url(default.png) 0 0;
}
body .layer-ext-moon .layui-layer-setwin .layui-layer-close1:hover,body .layer-ext-moon .layui-layer-setwin .layui-layer-close2:hover {
	background: url(default.png) -48px 0;
}
body .layer-ext-moon .layui-layer-padding{padding-top: 24px;}
body .layer-ext-moon .layui-layer-btn {
	padding: 15px 0;
	background: #f0f4f7;
	border-top: 1px #c7c7c7 solid;
}
body .layer-ext-moon .layui-layer-btn a {
	font-size: 12px;
	font-weight: normal;
	margin: 0 3px;
	margin-right: 7px;
	margin-left: 7px;
	padding: 6px 20px;
	color: #fff;
	border: 1px solid #0064b6;
	background: #0071ce;
	border-radius: 3px;
	display: inline-block;
	height: 20px;
	line-height: 20px;
	text-align: center;
	vertical-align: middle;
	background-repeat: no-repeat;
	text-decoration: none;
	outline: none;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
}
body .layer-ext-moon .layui-layer-btn .layui-layer-btn0 {
	background: #0071ce;
}
body .layer-ext-moon .layui-layer-btn .layui-layer-btn1 {
	background: #fff;
	color: #404a58;
	border: 1px solid #c0c4cd;
	border-radius: 3px;
}
body .layer-ext-moon .layui-layer-btn .layui-layer-btn2 {
	background: #f60;
	color: #fff;
	border: 1px solid #f60;
	border-radius: 3px;
}
body .layer-ext-moon .layui-layer-btn .layui-layer-btn3 {
	background: #f00;
	color: #fff;
	border: 1px solid #f00;
	border-radius: 3px;
}

body .layer-ext-moon .layui-layer-title span.layui-layer-tabnow{
	height:46px;
}
.clear { 
	clear:both;}


/*****头部*****/
.top_bj {
	margin: 0px;
	padding: 0px;
	background: url(../images/top_bj.jpg);
	background-position: center top;
	background-repeat: no-repeat;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	height: 99px;
}
.jg{ height:20px;}
.clear {
	clear:both;}
.left_wenzi{ color:#FFF; font-size:12px;}
.left_bt{text-align:center; font-family:'微软雅黑'; font-size:12px;;; color:#F00;}
.top_jc{width:110px; float:right;}
.top_logo{  float:left; height:99px; padding-top:0px; }
.top_logo img{ width:80%}
.top_right{ padding-top:20px;  }
.top_left_top{ width:180px; margin:0 auto;}
.left_dh{ width:250px;  z-index:100000;}
.left_top{ background:url(../images/left_top.jpg);  height:90px; }
.tubiao_one{ background:url('images/tb1.png')  no-repeat;}
.index_s{height:90%;}
.left_sds{border-bottom:1px #FF0000 solid;}
.body_s{ padding:10px 10px 10px 10px;}
.kucun{background:#c60404; line-height:30px; text-align:center; color:#FFF; font-family:'微软雅黑'; width:232px;}
.tuoian_b{width:285px; float:left;}
.tisl_wenzi{width:60%; float:right; margin-top:20px;}
.tisl_wenzi1{width:60%; float:right; margin-top:20px;}
.tisl_wenzi2{width:60%; float:right; margin-top:20px;}
.left_wenzi_a{font-size:12px; }
.left_wenzi_b{color:#F00; font-size:12px; font-weight:bolder;}
